<div class='card' *ngIf="isMovie">
    <div class='card-header'>  
       {{pageTitle}}
    </div>
</div>
<div class='card-body' *ngIf="isMovie">
    <div class='row'>
        <div class='col-md-2'> Filter By:</div>
        <div class='col-md-2'>
            <input type='text' [(ngModel)]='listFilter'>
        </div>
        
    </div>
    <!-- <br> -->

    <div class='row'>
        <div class='col-md-2'> <label>Language </label></div>
        <div class='col-md-2'>
            <select (change)="filterLanguage($event.target.value)">
                <option value="0">--All--</option>
                <option *ngFor="let language of languageList" value={{language.Name}}>
                  {{language.Name}}
                </option>
              </select>
        </div>
        
      </div>
      <div class='row'>
        <div class='col-md-2'> <label>Location </label></div>
        <div class='col-md-2'>
            <select (change)="filterLocation($event.target.value)"> 
                <option value="0">--All--</option>
                <option *ngFor="let location of locationList" value={{location.Name}}>
                  {{location.Name}}
                </option>
              </select>
        </div>
        
      </div>
    <div class='row'>
        <div class='col-md-6'>
            <h4>Filtered By: {{listFilter}}</h4>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf='movies && movies.length'>
            <thead>
                <tr>                   
                    <th>Movie Name</th>
                    <th>Language</th>
                    <th>Location</th>
                    <th>Listing Type</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let movie of filteredMovies'>                    
                    <td>                       
                        {{ movie.Title}}
                    </td>
                    <td>{{ movie.Language}}</td>
                    <td>{{ movie.Location }}</td>
                    <td>{{ movie.listingType}}</td>
                    <td>{{ movie.imdbRating}}                        
                    <td> <button type="button" (click)="btnClick(movie.imdbID);"> Details</button></td>
                </tr>
            </tbody>
        </table>      
    </div>
    

</div>
<div *ngIf="isMovieDetail">
        <router-outlet></router-outlet>
</div>